{
  "presets": [
    "next/babel"
  ],
    "plugins": [
      [
        "@emotion",
        {
          "sourceMap": true
        }
      ],
      [
        "@babel/plugin-proposal-decorators",
        {
          "legacy": true
        }
      ]
    ]
}
